# Python
**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.ruff_cache
**/.coverage

# Node
**/node_modules
**/.next
**/out

# Local data and secrets
db/finally.db
.env

# Git and misc
.git
**/.DS_Store
